Source: unipi-os-configurator
Section: unknown
Priority: optional
Maintainer: Martin Kudlacek <kudlacek@unipi.technology>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.8.0
Homepage: www.unipi.technology
#Vcs-Git: https://git.unipi.technology/UniPi/os-configurator
#Vcs-Browser: https://git.unipi.technology/UniPi/os-configurator

Package: unipi-os-configurator
Architecture: any
Depends: libssl3, libi2c0, ${misc:Depends}
Breaks: unipi-os-configurator-data (<= 0.12)
Description: Binaries and scripts for Unipi OS configurator
 
