Source: unipi-os-configurator
Section: unknown
Priority: optional
Maintainer: Miroslav Ondra <ondra@unipi.technology>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.8.0
Homepage: https://www.unipi.technology/
Vcs-Git: https://github.com/UnipiTechnology/os-configurator.git
Vcs-Browser: https://github.com/UnipiTechnology/os-configurator

Package: unipi-os-configurator
Architecture: any
Depends: libssl3, libi2c0, ${misc:Depends}
Description: Binaries and scripts for Unipi OS configurator
