[Unit]
Description=Create Unipi motd
DefaultDependencies=No

[Service]
Type=oneshot
ExecStart=-/bin/sh -c "mkdir -p /run/motd.d && cp /usr/share/unipi-os-configurator/motd /run/motd.d/99-unipi-id"

[Install]
WantedBy=sysinit.target
