[Unit]
Description=Clear bootcount of U-boot
BindsTo=sys-devices-platform-bootcount.device

[Service]
Type=oneshot
ExecStart=-/usr/lib/unipi/bootcount clear
ExecStart=/bin/rm -f /boot/recover.scr
ExecStart=/bin/rm -f /boot/tryboot
RemainAfterExit=yes

[Install]
WantedBy=sys-devices-platform-bootcount.device
