[Unit]
Description=Check Unipi Id fingerprint and call os-configurator
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/unipi/tools/os-configurator --check --force
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
