[Unit]
Description=Create Unipi motd
DefaultDependencies=No

[Service]
Type=oneshot
ExecStart=-/bin/sh -c "mkdir -p /run/motd.d && cp /opt/unipi/os-configurator/data/motd /run/motd.d/99-unipi-id"

[Install]
WantedBy=sysinit.target
