[Unit]
Description=Check Unipi Id fingerprint and call os-configurator
After=local-fs.target

[Service]
Type=oneshot
ExecStart=sh -c 'test "$(/opt/unipi/tools/unipiid fingerprint)" = "$(cat /opt/unipi/os-configurator/fingerprint)" || /opt/unipi/tools/os-configurator && /opt/unipi/tools/unipiid fingerprint >/opt/unipi/os-configurator/fingerprint'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
