
ACTION=="add" SUBSYSTEM=="nvmem" DEVPATH=="*/ds1307_nvram*", TAG+="systemd", ENV{SYSTEMD_ALIAS}+="/sys/devices/platform/bootcount" , RUN+="/usr/lib/unipi/uhelper '' bootcount 1 $name"
ACTION=="add" SUBSYSTEM=="nvmem" DEVPATH=="*/rtc_unipi_nvram*", TAG+="systemd", ENV{SYSTEMD_ALIAS}+="/sys/devices/platform/bootcount", RUN+="/usr/lib/unipi/uhelper '' bootcount 1 $name"
